{% extends "base.html.twig" %}
{% block body %}
<h3>Importación síncrona: <a href="{{ path('sync_import') }}" class="btn btn-primary">Importar</a></h3>
<p>Con este tipo de importación se lee el fichero secuencialmente y se importa a mongo db de forma clásica. El usuario debe esperar a que que complete todo el proceso para ver la respuesta</p>
<h3>Importación asíncrona: <a href="{{ path('async_import') }}" class="btn btn-primary">Importar</a></h3>
<p>Con este tipo de importación se realiza de forma asíncrona, es decir cada linea del fichero se envía a la cola de procesamiento para ir procesándola en background en diferentes equipos y simultaneamente</p>
{% endblock %}